{%load loader_tags %}{% extends 'base/base.html' %}
{% load i18n %}

{% block inpage_title %}{% trans "About WebPyMail" %}{% endblock %}

{% block headercontent %}
{% endblock %}

{% block extra_menus %}
<a href="{% url 'folder_list' %}" title="{% trans "Folder List" %}">
  <img class="top_menu_entry" src="{{ STATIC_URL }}img/folder.svg" width="32px" height="32px">
</a>
{% endblock %}

{% block contents %}

<p>{% trans 'WebPyMail is a project that seeks to create a fully featured,  <a href="https://docs.python.org/3/">Python 3</a> and <a href="https://www.djangoproject.com/">Django</a> based, webmail client.' %}

<p>{% trans 'Visit our <a href="https://gitlab.com/hgg/webpymail/">GitLab page</a>.' %}

<p>{% trans "Bug reports and patches are welcome!" %}

{% endblock %}
